<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>game.servlets.signup.SignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>game.servlets.lobby.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>XmlFileLoaderServlet</servlet-name>
        <servlet-class>game.servlets.lobby.XmlFileLoaderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OnlinePlayersServlet</servlet-name>
        <servlet-class>game.servlets.lobby.OnlinePlayersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewRoomServlet</servlet-name>
        <servlet-class>game.servlets.lobby.NewRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AvailableRoomsServlet</servlet-name>
        <servlet-class>game.servlets.lobby.AvailableRoomsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JoinRoomServlet</servlet-name>
        <servlet-class>game.servlets.lobby.JoinRoomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RoomJoinedPlayersServlet</servlet-name>
        <servlet-class>game.servlets.room.preGameStart.RoomJoinedPlayersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LeaveRoomServlet</servlet-name>
        <servlet-class>game.servlets.room.preGameStart.LeaveRoomServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XmlFileLoaderServlet</servlet-name>
        <url-pattern>/xmlFileLoader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OnlinePlayersServlet</servlet-name>
        <url-pattern>/whosOnline</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewRoomServlet</servlet-name>
        <url-pattern>/newRoom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AvailableRoomsServlet</servlet-name>
        <url-pattern>/availableRooms</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JoinRoomServlet</servlet-name>
        <url-pattern>/joinRoom</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RoomJoinedPlayersServlet</servlet-name>
        <url-pattern>/roomJoinedPlayers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LeaveRoomServlet</servlet-name>
        <url-pattern>/leaveRoom</url-pattern>
    </servlet-mapping>
</web-app>