.root{
    -fx-base: #daa886;
    -fx-background: #19afa3;
    -fx-focus-color: #f1e4ea;
}
#closeButton:armed, #closeButton:focused,
#minimizeButton:armed, #minimizeButton:focused,
#maximizeButton:armed, #maximizeButton:focused {
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
}
.button{
    -fx-background-color: #3ffaac;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-border-color: rgb(49, 89, 23);
}

#tableView .table-cell{
    -fx-alignment: CENTER;
}

.label{
    -fx-font-size: 1em;
    -fx-font-family: "monospace";
}
.borders{
    -fx-border-style: dotted;
    -fx-border-width: 1.5;
    -fx-border-color: rgb(103, 100, 78);
}

.combo-box{
    -fx-background-color: #7afaac;
    -fx-border-color: rgb(49, 89, 23);
}