.root{
    -fx-base: #DFB951;
    -fx-background: #A78732;
    -fx-focus-color: #B6A678;
}
#closeButton:armed, #closeButton:focused,
#minimizeButton:armed, #minimizeButton:focused,
#maximizeButton:armed, #maximizeButton:focused {
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
}
.button{
    -fx-background-color: #DFB951;
    -fx-border-radius: 0;
    -fx-start-margin: 0;
    -fx-border-color: rgb(80, 80, 120);
}
.label{
    -fx-font-size: 1.2em;
    -fx-font-family: "sans-serif";
}
#tableView .table-cell{
    -fx-alignment: CENTER;
}